<h3><%= @artist.name %></h3> 
<ul>
  <% @chart_entries_by_artist.each do |entry| %>
    <li><%= entry.song.title %> (<%= entry.year %>) - #<%= entry.position %></li>
  <% end %>
</ul>
<br>
<%= link_to 'Home', root_url %>

